services:
  db:
    image: postgres:18-alpine
    container_name: ysdgs-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: pg_isready --username=$POSTGRES_USER
      start_period: 30s
      start_interval: 1s

volumes:
  postgres_data:
